<b><%= @book.title %></b> by <%= link_to @book.author.name, author_path(@book.author) %>

<p>
  <b>Genre:</b>
  <%= @book.genre %>
</p>

<% unless @book.awards.empty? %>
  <p><b>Awards:</b></p>

  <div class='items-padding'>
    <%= render(@book.awards) %>
  </div>
<% end %>

<p><b>Editions:</b></p>

<div class='items-padding'>
  <%= render @book.editions %>
</div>
