<p>
  <b><%= "#{@award.name} #{@award.year}" %></b>
</p>

<%= @award.genre %>

<%= image_tag @award.image, class: 'award-image' %>

<% if @award.book %>
  <%= link_to @award.book.title, book_path(@award.book) %>
<% else %>
  <%= link_to @award.author.name, author_path(@award.author) %>
<% end %>

<% content_for :recommendations do %>
  <%= render @related_awards %>
<% end %>