<p>
  <b><%= "#{@award.name} #{@award.year}" %> - <%= @award.genre %></b>
</p>
<p>
<%= image_tag @award.image, class: 'award-image' %>
</p>
won by 
<% if @award.book %>
  <%= link_to @award.book.title, book_path(@award.book) %>
<% else %>
  <%= link_to @award.author.name, author_path(@award.author) %>
<% end %>

<% content_for :recommendations do %>
  <%= render @related_awards %>
<% end %>